{% extends "base.html" %}

{% block content %}

<section class="section--grid">
	<form method="post">{% csrf_token %}
		<div class="container-fluid">
		{% if gifs %}
			<div class="row grid">
				
				<ul class="grid" id="grid">
					{% for gif in gifs.all %}
					<li id="grid-item" data-gif-id="1">
						<div class="gif_wrapper">
							<div class="gif_viewer">
								<a href="{% url 'gifspool:onegif' gif.id %}">
									<img class="gifplayer" src="{{ gif.gif_file.url }}" alt="{{ gif.gif_file.url }}">
									<ins class="play-gif"></ins>
									<span class="spinner"></span>
								</a>
							</div>
							<div class="gif_description">
								<div class="description__title">
									<a href="{% url 'gifspool:onegif' gif.id %}">{{ gif.name }}</a>
								</div>
								<div class="description__heart">
									<ul class="gif_drop-mnu">
										<li class="emoji_likes">
											<i class="fa fa-heart"></i><span>{{ gif.likes }}</span>
										</li>
										<ul class="left-drop emoji_heart" data-gif-id="1">
											<li data-action="shocked">
												<a href="{% url 'gifspool:shocked' gif.id %}" style="text-decoration: none">
												<img src="/static/img/emoji/shocked.svg" alt="">
												</a>
											</li>
											<li data-action="loved">
												<a href="{% url 'gifspool:loved' gif.id %}" style="text-decoration: none">
												<img src="/static/img/emoji/loved.svg" alt="">
												</a>
											</li>
											<li data-action="laugh">
												<a href="{% url 'gifspool:laugh' gif.id %}" style="text-decoration: none">
												<img src="/static/img/emoji/funny.svg" alt="">
												</a>
											</li>
										</ul>
									</ul>
								</div>
								<div class="description__share">
									<ul class="gif_drop-mnu">
										<li>
											<i class="fa fa-share-alt"></i>
											<span>share</span>
										</li>
										<ul class="share_gif" data-gif-id="1">
											<li data-share="facebook">Facebook</li>
											<li data-share="twitter">Twitter</li>
											<li data-share="whatsapp">WhatsApp</li>
										</ul>
									</ul>
								</div>
							</div>
						</div>
					</li>
					{% endfor %}
					
				</ul>
		
			</div>
		{% endif %}
		</div>
	</form>
	</section>
</main>
{% endblock %}