<!DOCTYPE HTML>
<html>
<title>gifsta</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>




<!-- Login -->
<form id="login" class="w3-container" method="post">{% csrf_token %}
    
      
      <h2 class="w3-wide">LOGIN</h2>
      
      <p><input class="w3-input w3-border" type="text" name="username" placeholder="Enter username"></p>
      <p><input class="w3-input w3-border" type="password" name="password" placeholder="Enter password"></p>
      <button class="w3-button w3-block w3-padding-large w3-red w3-hover-green w3-margin-bottom" type="submit" name="submit" value="login">Login</button>
      <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
      <a href="{% url "social:begin" "google-oauth2" %}">Google</a>
</form>
</body>
</html>