{% extends "base.html" %}

{% block login %}
	<!-- Login -->
	<form id="login" class="w3-container" method="post">{% csrf_token %}
	    
	      
	      <h2 class="w3-wide">LOGIN</h2>
	      
	      <p><input class="w3-input w3-border" id="username" type="text" name="username" placeholder="Enter username"></p>
	      <p><input class="w3-input w3-border" id="password" type="password" name="password" placeholder="Enter password"></p>
	      <button class="w3-button w3-block w3-padding-large w3-red w3-hover-green w3-margin-bottom" type="submit" name="submit" value="login">Login</button>
	      <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
	      <a href="{% url "social:begin" "google-oauth2" %}">Google</a>
	</form>
{% endblock %}
