<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" type="text/css" href="/static/gifspool/style.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-sidenav a {padding:20px}
</style>
<body>

<!-- Sidenav (hidden by default) -->
<nav class="w3-sidenav w3-card-2 w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidenav">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-closenav">Close Menu</a>
  <a href="#food" onclick="w3_close()">Blog</a>
  <a href="#about" onclick="w3_close()">About</a>
</nav>

<!-- Top menu -->
<form method="post">{% csrf_token %}
<div class="w3-top w3-green">
  <div class="w3-bar w3-xlarge " >
    <div class="w3-left w3-button w3-show-inline-block w3-opennav w3-hover-red" onclick="w3_open()">☰Menu</div>
    <div class="w3-right w3-{{show.0}}">
      <div class="w3-button w3-show-inline-block w3-{{show.0}} w3-hover-red" onclick="document.getElementById('id01').style.display='block'">Login</div>
      <div class="w3-button w3-show-inline-block w3-{{show.0}} w3-hover-red" onclick="document.getElementById('id02').style.display='block'">Singin</div>
    </div>
    <div class="w3-right w3-show-inline-block">
      <button class="w3-button w3-{{show.1}} w3-hover-red" type="submit" name="submit" value="logout">Logout</button>
    </div>
    <div class="w3-center">Polls Authenticated: {{ authenticated }}</div>
  </div>
</div>
</form>
<!-- Login -->
<div id="id01" class="modal">
    
    <form name="login" class="modal-content animate" method="post">{% csrf_token %}
      <div class="imgcontainer">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      </div>

      <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" value={{username}}>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" value={{password}}>
        <!-- <div> {{login_er}} </div> -->
        
        <button type="submit" name="submit" value="login">Login</button>
        <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>
        <input type="checkbox" checked="checked"> Remember me
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
      </div>
    </form>
  </div>

<!-- Register -->
<div id="id02" class="modal">
  
  <form name="register" class="modal-content animate" method="post">{% csrf_token %}
    <div class="imgcontainer">
      <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
      <label><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username" value={{username}}>
      <div>{{ n_error }}</div>

      <label><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password" value={{password}}>
      <div>{{ p_error }}</div>
      
      <label><b>Confirm</b></label>
      <input type="password" placeholder="Confirm Password" name="confirm" value={{confirm}}>
      <div>{{ vp_error }}</div>

      <label><b>Email</b></label>
      <input type="email" placeholder="Enter Email" name="email" value={{email}}>
      <div>{{ e_error }}</div>

      <button type="submit" name="submit" value="registration">Singin</button>
      <input type="checkbox" checked="checked"> Remember me
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id02').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>



<!-- !PAGE CONTENT! -->
<form name="content" class="w3-main w3-content w3-padding" style="max-width:1300px;margin-top:100px" method=post>{% csrf_token %}
  {% if polls %}
    
    <div class="w3-row-padding w3-center " id="food">
    {% for poll in polls.all %}
      <div class="w3-quarter w3-mobile w3-padding-8">
        <div class="w3-card-4">
          <div class="w3-container w3-light-green w3-text-white">
            <h3>{{ poll.name }}</h3> <!-- The Perfect Sandwich, A Real NYC Classic -->
          </div>
          <img class="w3-margin" src="{{ poll.path }}{{ poll.picture }}" style= "height: 150px">
          <div class="w3-container">
            <p>{{ poll.description }}</p> <!-- Just some random text, lorem ipsum text praesent tincidunt ipsum lipsum. -->
          </div>
          <button type="submit" name="test" class="w3-button w3-green w3-block" value={{poll.id}}>Start</button>
        </div>
      </div>
    {% endfor %}
    </div>  {% endif %}
  </form>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>

<script>
// Script to open and close sidenav
function w3_open() {
    document.getElementById("mySidenav").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidenav").style.display = "none";
}

// Get the modal1
var modal1 = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal1) {
        modal1.style.display = "none";
    }
}

// Get the modal2
var modal2 = document.getElementById('id02');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal2) {
        modal2.style.display = "none";
      }
  }
</script>
</body>
</html>
