<!DOCTYPE HTML>
<html>
<title>gifsta</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1 {font-family: "Montserrat", sans-serif}
img {margin-bottom: -7px}
.w3-row-padding img {margin-bottom: 12px}
</style>
<body>
</body>
</html>

<!-- Topbar -->
<div class="w3-bar w3-red" id="topbar">
  
  <div class="w3-bar w3-bar-item w3-padding-0">
    <button class="w3-bar-item w3-hover-green">Menu</button>
    <button class="w3-bar-item w3-hover-green w3-{{show.1}}" onclick="document.getElementById('upload').style.display='block'">Upload</button>
  </div>

  <div class="w3-dropdown-hover w3-hide-small w3-bar-item w3-left w3-padding-0">
    <button class="w3-button" title="Notifications">Categories <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      {% if categories %}
        {% for category in categories.all %}
          <a href="/{{ category.name }}" class="w3-bar-item w3-button">{{ category.name }}</a>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="w3-bar w3-bar-item w3-padding-0" style="width:33.3%">
    <div class="w3-bar-item w3-center">Authenticated: {{ authenticated }} {{show}}</div>
  </div>
  <div class="w3-bar w3-bar-item w3-right w3-padding-0 ">
    <button class="w3-bar-item w3-hover-green w3-{{show.0}}" onclick="document.getElementById('login').style.display='block'">Login</button>
    <button class="w3-bar-item w3-hover-green w3-{{show.0}}" onclick="document.getElementById('register').style.display='block'">Register</button>
    <a href="/logout" class="w3-button w3-bar-item w3-hover-green w3-{{show.1}}">Logout</a>
  </div>
</div>

<!-- Queue -->
<div class="w3-container" id="queue">
  {% if queue %}
    <p>{{ queue.all }}</p>
    {% for gif in queue.all %}
      <a>{{ gif.name }};</a>
    {% endfor %}
  {% endif %}
</div>

<!-- Login -->
<form id="login" class="w3-modal w3-animate-opacity" method="post">{% csrf_token %}
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('login').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-xlarge"></i>
      <h2 class="w3-wide">LOGIN</h2>
      <i class="fa fa-android w3-large"></i> <i class="fa fa-apple w3-large"></i> <i class="fa fa-windows w3-large"></i>
      <p><input class="w3-input w3-border" type="text" name="username" placeholder="Enter username"></p>
      <p><input class="w3-input w3-border" type="password" name="password" placeholder="Enter password"></p>
      <button class="w3-button w3-block w3-padding-large w3-red w3-hover-green w3-margin-bottom" onclick="document.getElementById('login').style.display='none'" type="submit" name="submit" value="login">Login</button>
    </div>
  </div>
</form>

<!-- Register -->
<form id="register" class="w3-modal w3-animate-opacity" method="post">{% csrf_token %}
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('register').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-xlarge"></i>
      <h2 class="w3-wide">REGISTRATION</h2>
      <i class="fa fa-android w3-large"></i> <i class="fa fa-apple w3-large"></i> <i class="fa fa-windows w3-large"></i>
      <p><input class="w3-input w3-border" type="text" name="username" placeholder="Enter username"></p>
      <p><input class="w3-input w3-border" type="password" name="password" placeholder="Enter password"></p>
      <p><input class="w3-input w3-border" type="password" name="confirm" placeholder="Confirm password"></p>
      <p><input class="w3-input w3-border" type="text" name="email" placeholder="Enter e-mail"></p>
      <button class="w3-button w3-block w3-padding-large w3-red w3-hover-green w3-margin-bottom" onclick="document.getElementById('register').style.display='none'" type="submit" name="submit" value="register">Register</button>
    </div>
  </div>
</form>

<!-- Logout -->
<form id="register" class="w3-modal w3-animate-opacity" method="post">{% csrf_token %}
  <div class="w3-modal-content" style="padding:32px">
    <div class="w3-container w3-white">
      <i onclick="document.getElementById('register').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-xlarge"></i>
      <h2 class="w3-wide">REGISTRATION</h2>
      <i class="fa fa-android w3-large"></i> <i class="fa fa-apple w3-large"></i> <i class="fa fa-windows w3-large"></i>
      <p><input class="w3-input w3-border" type="text" name="username" placeholder="Enter username"></p>
      <p><input class="w3-input w3-border" type="password" name="password" placeholder="Enter password"></p>
      <p><input class="w3-input w3-border" type="password" name="confirm" placeholder="Confirm password"></p>
      <p><input class="w3-input w3-border" type="text" name="email" placeholder="Enter e-mail"></p>
      <button class="w3-button w3-block w3-padding-large w3-red w3-hover-green w3-margin-bottom" onclick="document.getElementById('register').style.display='none'" type="submit" name="submit" value="register">Register</button>
    </div>
  </div>
</form>

<!-- Uplaoad -->
<form id="upload" class="w3-modal w3-animate-opacity" method="post" enctype="multipart/form-data">{% csrf_token %}
  <div class="w3-modal-content" style="padding:32px">
      <div class="w3-container w3-white">
        <i onclick="document.getElementById('upload').style.display='none'" class="fa fa-remove w3-xlarge w3-button w3-transparent w3-right w3-xlarge"></i>
        <h2 class="w3-wide">UPLOAD</h2>
        <i class="fa fa-android w3-large"></i> <i class="fa fa-apple w3-large"></i> <i class="fa fa-windows w3-large"></i>
        <p><input class="w3-input w3-border" type="text" name="name" placeholder="Enter name"></p>
        <p><input class="w3-input w3-border" type="text" name="tags" placeholder="Enter tags"></p>
        <p><input type="file" name="gif_file" placeholder="Enter gif"></p>
        <button class="w3-button w3-block w3-padding-large w3-red w3-hover-green w3-margin-bottom" onclick="document.getElementById('upload').style.display='none'" type="submit" name="submit" value="upload">Uplaoad</button>
    </div>
  </div>
</form>


<!-- !PAGE CONTENT! -->
<form name="content" class="w3-main w3-content w3-padding" style="max-width:1300px;margin-top:10px" method=post>{% csrf_token %}
  {% if gifs %}
    <div class="w3-row-padding w3-center" id="food" >
    {% for gif in gifs.all %}
      <div class="w3-quarter w3-mobile" style="margin-top:10px">
        <div class="w3-card-4">
          <div class="w3-container w3-red w3-text-white">
            <h3>{{ gif.name }}</h3> 
          </div>
          <img class="w3-margin" src="{{ gif.gif_file.url }}" style= "height: 150px">
          <div class="w3-container">
            <p>{{ gif.tags }}</p>
          </div>
          <button type="submit" name="test" class="w3-button w3-red w3-block w3-hover-green" value={{gif.id}}>Start</button>
        </div>
      </div>
    {% endfor %}
    </div>  
  {% endif %}
</form>