{% extends "base.html" %}
{% include "base.html" %}

{% block content %}

<div class="container">
	<form method="post">{% csrf_token %}
		<div class="row">
			<div class="col-md-12" id="single_gifs">
				<article class="section--single" data-gif-id="1">
					<div class="single-gif_wrapper">
						<div class="single-gif_viewer" data-url="/single.html">
							<ins class="play-gif"></ins>
							<img class="gifplayer" src="{{ gif.gif_file.url }}" alt="{{ gif.gif_file.url }}" data-original-width="200" data-original-height="200">
							<span class="spinner"></span>
						</div>
						<div class="single-social_wprapper">
							<div class="single-gif_title">
								{{ gif.name }} 
							</div>
							<ul class="single-emoji_heart" data-gif-id="1">
								<li data-action="shocked">
									<a href="{% url 'gifspool:shocked' gif.id %}" style="text-decoration: none">
									<img src="/static/img/emoji/shocked.svg" alt="">
									<span>{{ gif.shocked }}</span>
									</a>
								</li>
								<li data-action="loved">
									<a href="{% url 'gifspool:loved' gif.id %}" style="text-decoration: none">
									<img src="/static/img/emoji/loved.svg" alt="">
									<span>{{ gif.loved }}</span>
									</a>
								</li>
								<li data-action="funny">
									<a href="{% url 'gifspool:laugh' gif.id %}" style="text-decoration: none">
									<img src="/static/img/emoji/funny.svg" alt="">
									<span>{{ gif.laugh }}</span>
									</a>
								</li>
							</ul>
							
							<ul class="single-socials_buttons share_gif" data-gif-id="1">
								<li data-share="facebook">
									<a class="soc_facebook" href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li data-share="twitter">
									<a class="soc_twitter" href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li data-share="vkontakte">
									<a class="soc_vkontakte" href="#"><i class="fa fa-vk"></i></a>
								</li>
								<li data-share="copy">
									<a class="soc_copy" href="#"><i class="fa fa-link"></i></a>
								</li>
							</ul>
						</div>
						<div class="single-links_wrapper">
							<ul  data-gif-id="1">
								<li class="report_gif" data-action="report">
									<a><i class="fa fa-ban"></i><span>Report GIF</span></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-external-link"></i>Source: nhl.com</a>
								</li>
							</ul>
						</div>
					</div>
				</article>
			</div>				
		</div>
	</form>
</div>		

{% endblock %}